.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid grey;
}

.main {
  padding: 15px;

  display: flex;
  flex-wrap: wrap;
}
